<html>
<head><link rel="stylesheet" href="endpoint.css">
</head>
<body>
    <h1>Coucou petit Raspberry</h1>
    <hr>
    <p class="text-pres">Un raspberry est une petite carte verte un peu mystique.</p>
</body></html>
